<!DOCTYPE html>
<html>

<body>
    <!-- Main Email Container -->
    <table role="presentation" border="2" align="center">
        <tbody>
            <tr>
                <td>
                    <table role="presentation" width="100%" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="37%"><a title="Ticket Express"
                                                        href="https://ticketexpress.tpgc.me/"><img
                                                            src="https://ticketexpress.tpgc.me/images/logo.png"
                                                            alt="TICKET EXPRESS Logo" width="150px" height="150px"></a>
                                                </td>
                                                <td bgcolor="#eeeef0">
                                                    <h1 style="color: #2a3e59;" align="left">Your Ticket Confirmation
                                                    </h1>
                                                    <p style="color: #2a3e59;" align="left">Thank you for your purchase.
                                                        Below are your ticket details.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h2 style="color: #eeeef0;" align="center">Invoice Summary</h2>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Sub Total:</strong> {{formatPrice subtotal}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fees:</strong> {{formatPrice fees}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>GST:</strong> {{formatPrice gst}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Total:</strong> {{formatPrice total}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Payment Type:</strong> Credit Card
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h2 style="color: #eeeef0;" align="center">Your Tickets</h2>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody>
                            {{#each items}}
                            {{type}}
                            {{#if (isTicket this)}}
                            <tr>
                                <td align="center" bgcolor="#2a3e59">
                                    <h3 style="color: #eeeef0;"><strong>Type:</strong> {{name}}</h3>
                                    <h3 style="color: #eeeef0;"><strong>Price:</strong> {{formatPrice purchase_price}}
                                    </h3>
                                    <table role="presentation" bgcolor="#eeeef0" cellspacing="0"
                                        cellpadding="30" style="border-radius: 10px;">
                                        <tr>
                                            <!-- QR Code Column -->
                                            <td align="center">
                                                <img 
                                                    src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&amp;data={{encodeURI (json id)}}"
                                                    alt="QR Code">
                                            </td>

                                            <!-- Event Info Column -->
                                            <td style="color: #2a3e59;">
                                                <h2 align="left" style="margin: 0;">{{event_name}}</h2>
                                                <p align="left">
                                                    <font size="4">Date: {{formatDate event_date}}</font>
                                                </p>
                                                <p align="left">
                                                    <font size="4">Location: {{location_name}}</font>
                                                </p>
                                                <p align="left">
                                                    <font size="4">Category: {{category_name}}</font>
                                                </p>
                                                <p align="left">
                                                    <font size="4">Organizer: {{organizer_name}}</font>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                Account Organizer Upgrade
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td bgcolor="#2a3e59">
                    <blockquote>
                        <p style="color: #eeeef0;" align="center">If you have any questions, please contact our support
                            team.</p>
                        <p style="color: #eeeef0;" align="center">Thank you for your purchase!</p>

                        <p style="color: #eeeef0;" align="center">&copy; 2025 Ticket Express. All rights reserved.</p>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>