<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
    <script src="/js/api.js"></script>
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="icon" href="/images/logo.png" sizes="64x64" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <style>

        

    </style>
</head>

<body>
    <div class="sticky" src="/partials/header.html" type="text/x-html-template"></div>

    <div class="content">
        <script>
            async function get_estamate() {
                var id = new URLSearchParams(window.location.search).get("receipt_id");
                id = JSON.parse(id);
                return api.payment.get_receipt(id);
            }
        </script>
        <div class="payment order-summary">

            <script src="get_estamate()" type="text/x-handlebars-template">
                 <!-- Main Email Container -->
    <table role="presentation" border="2" align="center">
        <tbody>
            <tr>
                <td>
                    <table role="presentation" width="100%" bgcolor="#eeeef0">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" width="37%"><a title="Ticket Express"
                                                        href="https://ticketexpress.tpgc.me/"><img
                                                            src="https://ticketexpress.tpgc.me/images/logo.png"
                                                            alt="TICKET EXPRESS Logo" width="150px" height="150px"></a>
                                                </td>
                                                <td bgcolor="#eeeef0">
                                                    <h1 style="color: #2a3e59;" align="left">Your Ticket Confirmation
                                                    </h1>
                                                    <p style="color: #2a3e59;" align="left">Thank you for your purchase.
                                                        Below are your ticket details.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">
                    <h2 style="color: #eeeef0;" align="center">Invoice Summary</h2>
                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#2a3e59">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Sub Total:</strong> {{formatPrice subtotal}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Fees:</strong> {{formatPrice fees}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>GST:</strong> {{formatPrice gst}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Total:</strong> {{formatPrice total}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Payment Type:</strong> Credit Card
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#2a3e59">

                    {{#hasTickets items}}
                    <h2 style="color: #eeeef0;" align="center">Your Tickets</h2>
                    {{else}}
                    <h2 style="color: #eeeef0;" align="center">Account Upgrade Summary</h2>
                    {{/hasTickets}}

                    <table role="presentation" width="100%" cellspacing="0" cellpadding="10" bgcolor="#eeeef0">
                        <tbody >
                            {{#each items}}
                            {{#if (eq type "Ticket")}}
                            <tr>
                                <td align="center" bgcolor="#2a3e59">
                                    <h3 style="color: #eeeef0;"><strong>Type:</strong> {{name}}</h3>
                                    <h3 style="color: #eeeef0;"><strong>Price:</strong> {{formatPrice purchase_price}}</h3>
                                    <table role="presentation" bgcolor="#eeeef0" cellspacing="0" cellpadding="30" style="border-radius: 10px;">
                                        <tr>
                                            <td align="center">
                                                <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&amp;data={{encodeURI (json id)}}" alt="QR Code">
                                            </td>
                                            <td style="color: #2a3e59;">
                                                <h2 align="left" style="margin: 0;">{{event_name}}</h2>
                                                <p align="left"><font size="4">Date: {{formatDate event_date}}</font></p>
                                                <p align="left"><font size="4">Location: {{location_name}}</font></p>
                                                <p align="left"><font size="4">Organizer: {{organizer_name}}</font></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td align="center" bgcolor="#2a3e59">
                                    <h3 style="color: #eeeef0;"><strong>Purchase:</strong> Account Organizer Upgrade</h3>
                                    <h3 style="color: #eeeef0;"><strong>Price:</strong> {{formatPrice purchase_price}}</h3>
                                    <table role="presentation" bgcolor="#eeeef0" cellspacing="0" cellpadding="30" style="border-radius: 10px;">
                                        <tr>
                                            <td style="color: #2a3e59;" align="center">
                                                <h2>Account Upgraded to Organizer</h2>
                                                <p>No QR code required for this purchase.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td bgcolor="#2a3e59">
                    <blockquote>
                        <p style="color: #eeeef0;" align="center">If you have any questions, please contact our support
                            team.</p>
                        <p style="color: #eeeef0;" align="center">Thank you for your purchase!</p>

                        <p style="color: #eeeef0;" align="center">&copy; 2025 Ticket Express. All rights reserved.</p>
                    </blockquote>
                </td>
            </tr>
        </tbody>
    </table>
            </script>
            <div class="pay-info"></div>
           
        </div>
    </div>
    </div>
    <div src="/partials/footer.html" type="text/x-html-template"></div>
</body>

</html>