<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/api.js" type="text/javascript"></script>
    <!-- Redirects user to login when a page requires the user to have an account-->
    <script>utility.require_logged_in()</script>

    <!-- <meta name="viewport" content="initial-scale=1, width=device-width"> -->
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Caveat:wght@400..700&family=Special+Elite&display=swap"
        rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" sizes="64x64" type="image/x-icon">

    <title>Ticket Express</title>

    <style>
        .log-container { width: 80%; margin: auto; padding: 10px; font-size: 14px;}
        .log-entry { padding: 10px; margin: 10px 0; border-radius: 5px; word-wrap: break-word; overflow-wrap: break-word; }
        .red { background-color: #3b0000; border-left: 5px solid red; }
        .yellow { background-color: #3b3b00; border-left: 5px solid #cc9900; }
        .blue { background-color: #001b3b; border-left: 5px solid #004085; }
        .grey { background-color: #2e2e2e; border-left: 5px solid #606060; }
        .log-message { font-weight: bold; word-wrap: break-word; overflow-wrap: break-word; }
        .log-source { font-size: 0.85em; opacity: 0.8; }
        .log-stacktrace { font-family: monospace; white-space: pre-wrap; background-color: rgba(255, 255, 255, 0.1); padding: 5px; border-radius: 5px; margin-top: 5px; font-size: 0.85em; }
     </style>
</head>

<body>
    <div src="/partials/header.html" type="text/x-html-template"></div>
    <script src="page.account.userinfo()" type="text/x-handlebars-template">
        <article class="entry">
            <h1>{{name}}</h1>
            <div class="body">name: {{name}}</div>
            <div class="body">email: {{email}}</div>
            <div class="body">bio: {{bio}}</div>
            <div class="body">user_id: {{email}}</div>
            <img src="/media/{{picture}}"></img>
            <img src="/media/{{banner}}"></img>
            <!-- <div class="body">organizer_id: {{organizer_id}}</div> -->
            <div class="body">max_events: {{max_events}}</div>
            <div class="body">has_analytics: {{has_analytics}}</div>
            <div class="body">admin: {{admin}}</div>
        </article>

        {{#if admin}}
        <p><a href="/admin/logs">Logs</a></p>
        <p><a href="/admin/console">Console</a></p>
        <p><a href="/admin/perf">Stats</a></p>
        {{/if}}
    </script>
    <div></div>

    <button onclick="utility.logout()">Logout</button>
    <!-- <button onclick="page.account.delete_account()">Logout</button> -->

    <script src="page.account.list_sessions()" type="text/x-handlebars-template">
        <article class="entry">
            <h1>Sessions</h1>
            {{#each @root}}
            <p>
                <button onclick="page.account.remove_session(this, {{id}})">Remove Session</button>
                {{ip}}: {{formatTime expiration}}, {{agent}}
            </p>
            {{/each}}
        </article>
    </script>
    <div></div>


    <div src="/partials/footer.html" type="text/x-html-template"></div>
</body>

</html>